<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Spam Ham Detection</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='index.css') }}">

</head>

<body>

    <div class="container">

        <h1>Spam Ham Detection</h1>

        <div class="file-box">

            <div class="file-label">
                Dataset File
            </div>

            <div class="file-name">
                spamham.csv
            </div>

        </div>

        <a href="/input" class="start-btn">
            Start
        </a>

    </div>

</body>

</html>
